CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -mthumb
    - -mfloat-abi=hard
    - -std=gnu11
    - -ffreestanding
    - -fno-common
    - -fno-exceptions
    - -Iapps/infantry3
    - -Iapps/infantry4
    - -Iapps/sentry
    - -Iapps
Completion:
  AllScopes: true
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
Hover:
  ShowAKA: true